In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df=pd.read_csv('GSAF5.csv',sep=',', engine='python')

In [3]:
#print(df['href formula'][0])

In [4]:
#df.info()

In [5]:
null_cols=df.isnull().sum()

In [6]:
null_cols[null_cols>0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [7]:
drop_cols=list(null_cols[null_cols>4000].index)
drop_cols

['Unnamed: 22', 'Unnamed: 23']

In [8]:
df['Year']=df['Year'].apply(str)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null object
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(1), object(23)
memory usage: 1.1+ MB

In [10]:
df=df.drop(drop_cols,axis=1)
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [11]:
df.shape

(5992, 22)

In [12]:
drop_list = ['pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2','original order']

In [13]:
df=df.drop(drop_list,axis=1)

In [14]:
df.head(200)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2015.06.07,07-Jun-15,2015,Unprovoked,USA,Florida,"Lori Wilson Park, Cocoa Beach, Brevard County",Playing,Lucas Vertullo,M,11,Lacerations to right calf,N,10h50,"Bull shark, 5'","Florida Today, 6/7/2015"
196,2015.06.05,05-Jun-15,2015,Unprovoked,USA,Florida,Fort Lauderdale,Attempting to rescue a shark,female,F,17,Puncture wound to finger,N,NaN,small nurse shark,"7 News, 6/5/2015"
197,2015.06.01,01-Jun-15,2015,Unprovoked,REUNION,Le Port,Folette,Surfing,Eddy Chaussalet,M,47,Left forearm bitten,N,15h00,"Bull shark, 2.5 m","Clincanoo, 6/1/2015"
198,2015.05.29.b,29-May-15,2015,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Standing,Ashlyn Gilpin,F,14,Left foot bitten,N,15h00,NaN,"Orlando Sentinel, 5/29/2015"
199,2015.05.29.a,29-May-15,2015,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,Dakota Hatfield,F,19,Minor lacerations to dorsum of right foot,N,13h45,NaN,"ClickOrlando, 5/29/2015"

In [15]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source'],
      dtype='object')

In [16]:
df=df.rename(columns={"Sex ": "Sex", "Species ": "Species","Case Number": "Case_Number"})
df.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source'],
      dtype='object')

In [17]:
df=df.fillna(value='Unknown')

In [18]:
def split_it(string):
    return re.sub(r'[^\w]',' ', string)

def beg_white(string):
    return re.sub(r'^[ \t]+','', string)

#re.findall('(\d\d\d\d)', year)
#df.astype({column: 'str'}).dtypes

for column in df.columns:
    print(column)
    if  column == 'Year':
        next
    else:
        df[column] = df[column].apply(lambda x: split_it(x))
        df[column] = df[column].apply(lambda x: beg_white(x))        
        df[column] = df[column].str.capitalize()
        df[column] = df[column].str.replace("  "," ")
        df[column] = df[column].str.replace("   "," ")

Case_Number
Date
Year
Type
Country
Area
Location
Activity
Name
Sex
Age
Injury
Fatal (Y/N)
Time
Species
Investigator or Source

In [19]:
columns=['Fatal (Y/N)']

for column in columns:
    df[column] = df[column].str.replace(" ","")
    df[column] = df[column].str.replace("n","N")
    df[column] = df[column].str.replace("F","Y")
    df[column] = df[column].str.capitalize()

In [20]:
columns=['Time']

for column in columns:
    df[column] = df[column].str.capitalize()
    df[column] = df[column].str.replace("Late","")
    df[column] = df[column].str.replace("late","")
    df[column] = df[column].str.replace("Early","")
    df[column] = df[column].str.replace("Mid","")
    df[column] = df[column].str.replace("Between","")
    df[column] = df[column].str.replace("Just Before","")
    df[column] = df[column].str.replace("Before","")
    df[column] = df[column].str.replace("After","")
    df[column] = df[column].str.capitalize()

In [21]:
columns=['Sex']

for column in columns:
    df[column] = df[column].str.replace(" ","")
    df[column] = df[column].str.capitalize()

In [22]:
columns=['Date']

for column in columns:
    df[column] = df[column].str.replace("Before","")
    df[column] = df[column].str.replace("Reported","")
    df[column] = df[column].str.replace("reported","")
    df[column] = df[column].str.replace("Late","")
    df[column] = df[column].str.replace("Early","")
    df[column] = df[column].str.replace("Summer","")
    #df.loc[df[column].str.startswith(['A-z']),column]=" "&df.loc[df[column].

In [23]:
for column in df.columns:
    print(column)
    if  column == 'Year':
        next
    else:
        L = df[column].value_counts().index[:25].tolist()
        print(L)
        for activ in L:
            df.loc[df[column].str.startswith(activ),column]=activ

Case_Number
['1907 10 16 r', '1980 07 00', '2012 09 02 b', '1920 00 00 b', '2009 12 18', '1966 12 26', '1962 06 11 b', '1913 08 27 r', '2013 10 05', '2006 09 02', '1923 00 00 a', '1990 05 10', '2005 04 06', '1983 06 15', '2014 08 02', '1915 07 06 a r', '1961 01 05', '1957 00 00 b', '1910 11 24', '2013 08 11', '1858 08 29', '1961 09 24 b', '1934 08 05', '1966 00 00', '1951 01 21']
Date
['1957', '1942', '1956', '1950', '1958', '1941', '1949', 'No date', ' 1958', '1955', 'No date before 1963', '1959', 'Aug 56', '1940', '12 apr 01', 'Oct 60', '05 oct 03', '1954', '28 jul 95', '1970s', '1961', '28 dec 14', '1995', '1945', '14 jun 12']
Year
Type
['Unprovoked', 'Provoked', 'Invalid', 'Sea disaster', 'Boat', 'Boating']
Country
['Usa', 'Australia', 'South africa', 'Papua new guinea', 'New zealand', 'Brazil', 'Bahamas', 'Mexico', 'Italy', 'Fiji', 'Philippines', 'Reunion', 'New caledonia', 'Mozambique', 'Unknown', 'Cuba', 'Spain', 'India', 'Egypt', 'Croatia', 'Japan', 'Panama', 'Iran', 'Solomon islands', 'Greece']
Area
['Florida', 'New south wales', 'Unknown', 'Queensland', 'Hawaii', 'California', 'Kwazulu natal', 'Western cape province', 'Western australia', 'Eastern cape province', 'South carolina', 'South australia', 'North carolina', 'Victoria', 'Texas', 'Torres strait', 'Pernambuco', 'North island', 'New jersey', 'Tasmania', 'South island', 'Oregon', 'New york', 'Northern territory', 'Central province']
Location
['Unknown', 'New smyrna beach volusia county', 'Daytona beach volusia county', 'Cocoa beach brevard county', 'Myrtle beach horry county', 'Ponce inlet volusia county', 'Durban', 'Melbourne beach brevard county', 'Isle of palms charleston county', 'Boa viagem recife', 'Ponce inlet new smyrna beach volusia county', 'Ahvaz on the karun river', 'Palm beach palm beach county', 'Mossel bay', 'Piedade', 'Ormond beach volusia county', 'Singer island riviera beach palm beach county', 'Boa viagem beach recife', 'Sydney', 'Sydney harbor', 'Xai xai', 'Nahoon', 'North beach durban', 'Nahoon east london', 'Near thursday island']
Activity
['Surfing', 'Swimming', 'Unknown', 'Fishing', 'Spearfishing', 'Bathing', 'Wading', 'Diving', 'Standing', 'Scuba diving', 'Snorkeling', 'Body boarding', 'Swimming ', 'Body surfing', 'Boogie boarding', 'Pearl diving', 'Treading water', 'Free diving', 'Kayaking', 'Surf skiing', 'Fell overboard', 'Windsurfing', 'Shark fishing', 'Walking', 'Sea disaster']
Name
['Male', 'Unknown', 'Female', 'Boy', '2 males', 'Boat', 'Anonymous', 'Sailor', 'Child', 'Girl', 'A sailor', 'Fisherman', 'Males', 'Unidentified', 'A native', 'A pearl diver', 'Aboriginal male', 'Arab boy', 'Black male', '2 fishermen', 'A soldier', 'Dinghy', 'Japanese diver', 'Native boy', '3 males']
Sex
['M', 'F', 'Unknown', 'N', 'Lli', '']
Age
['Unknown', '17', '18', '19', '20', '15', '16', '21', '22', '24', '25', '14', '13', '23', '26', '27', '28', '29', '30', '12', '35', '32', '10', '31', '40']
Injury
['Fatal', 'Survived', 'Foot bitten', 'No injury', 'Leg bitten', 'Left foot bitten', 'No details', 'Right foot bitten', 'No injury board bitten', 'Unknown', 'Hand bitten', 'Thigh bitten', 'Fatal body not recovered', 'Minor injury', 'Foot lacerated', 'Lacerations to foot', 'Right leg bitten', 'Calf bitten', 'Arm bitten', 'No injury to occupants', 'Ankle bitten', 'Lacerations to right foot', 'Right calf bitten', 'Lacerations to left foot', 'Probable drowning  scavenging']
Fatal (Y/N)
['N', 'Y', 'Unknown', 'Value']
Time
['Unknown', 'Noon', '11h00', '12h00', 'Morning', '15h00', '14h00', '16h00', '16h30', '14h30', '13h00', '17h30', '17h00', 'Night', '15h30', '18h00', '11h30', '13h30', '10h00', '09h00', '10h30', ' afternoon', 'Evening', '12h30', '07h30']
Species
['Unknown', 'White shark', 'Shark involvement not confirmed', 'Tiger shark', 'Bull shark', '6 shark', '4 shark', '1 8 m 6  shark', '1 5 m 5  shark', '1 2 m 4  shark', '3 shark', '5 shark', '4 to 5 shark', '3 m 10  shark', '2 m shark', 'No shark involvement', '2 4 m 8  shark', 'Wobbegong shark', 'A small shark ', '3 m shark', '3 to 4 shark', '3 7 m 12  shark', 'Mako shark', '1 5 m shark', 'Blacktip shark']
Investigator or Source
['C moore gsaf', 'C creswell gsaf', 'S petersohn gsaf', 'R collier', 'T peake gsaf', 'M levine gsaf', 'R collier gsaf', 'A gifford gsaf', 'C moore', 'Gsaf', 'E pace fsaf', 'E ritter gsaf', 'G van grevelynghe', 'Jconline', 'J green p 36', 'Unknown', 'R d weeks gsaf', 'W leander', 'C johansson gsaf', 'K nakaya', 'S petersohn', 'C black gsaf', 'Hawaii department of land and natural resources', 'M vorenberg gsaf', 'M vorenberg']

In [24]:
pd.value_counts(df['Activity'])

Swimming                                                                                             1019
Surfing                                                                                               944
Fishing                                                                                               594
Unknown                                                                                               532
Spearfishing                                                                                          394
                                                                                                     ...
Fell from the jetty                                                                                     1
Attempting to fix motor                                                                                 1
Small boat                                                                                              1
Sleeping in anchored boat                                                                               1
Conducting a promotional film project for the gemini space program a practice astronaut recovery        1
Name: Activity, Length: 846, dtype: int64

In [25]:
#df['Date'] = df['Date'].str.replace("Before ","")

In [26]:
#df[['Year','Month']] = df.Date.str.split(" ",expand=True)
df[['Year_Date','Month_Date','Date__Date']] = pd.DataFrame(df.Date.str.split(' ',2).tolist(),columns =['Y_D','M_D','D_D'])
df[['Year_Case','Month','Date_Case','Case_Case']] = pd.DataFrame(df.Case_Number.str.split(' ',3).tolist(),columns =['Y_C','M_C','D_C','C_C'])

drop_cols2=['Year_Case','Date_Case','Case_Case']
df=df.drop(drop_cols2,axis=1)
df

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Year_Date,Month_Date,Date__Date,Month
0,2016 09 18 c,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Male,,16,Minor injury,N,13h00,Unknown,Orlando sentinel 9 19 2016,18,sep,16,09
1,2016 09 18 b,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Chucky luciano,,36,Lacerations to hands,N,11h00,Unknown,Orlando sentinel 9 19 2016,18,sep,16,09
2,2016 09 18 a,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Male,,43,Lacerations to lower leg,N,10h43,Unknown,Orlando sentinel 9 19 2016,18,sep,16,09
3,2016 09 17,17 sep 16,2016,Unprovoked,Australia,Victoria,Thirteenth beach,Surfing,Rory angiolella,,Unknown,Struck by fin on chest leg,N,Unknown,Unknown,The age 9 18 2016,17,sep,16,09
4,2016 09 15,16 sep 16,2016,Unprovoked,Australia,Victoria,Bells beach,Surfing,Male,,Unknown,No injury,N,Unknown,2 m shark,The age 9 16 2016,16,sep,16,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Nd 0005,1903,0,Unprovoked,Australia,Western australia,Roebuck bay,Diving,Male,,Unknown,Fatal,Y,Unknown,Unknown,H taunton n bartlett p 234,,1903,None,0005
5988,Nd 0004,1903,0,Unprovoked,Australia,Western australia,Unknown,Pearl diving,Ahmun,,Unknown,Fatal,Y,Unknown,Unknown,H taunton n bartlett pp 233 234,,1903,None,0004
5989,Nd 0003,1900 1905,0,Unprovoked,Usa,North carolina,Ocracoke inlet,Swimming,Coast guard personnel,,Unknown,Fatal,Y,Unknown,Unknown,F schwartz p 23 c creswell gsaf,1900,1905,None,0003
5990,Nd 0002,1883 1889,0,Unprovoked,Panama,Unknown,Panama bay 8 n 79 w,Unknown,Jules patterson,,Unknown,Fatal,Y,Unknown,Unknown,The sun 10 20 1938,1883,1889,None,0002
5991,Nd 0001,1845 1853,0,Unprovoked,Ceylon sri lanka,Eastern province,Below the english fort trincomalee,Swimming,Male,,15,Fatal,Y,Unknown,Unknown,S w baker,1845,1853,None,0001

In [27]:

#df['Year'] = df['Year'].str.replace("0",df['Date'])
df['Year'].replace('0',df['Year_Date'],inplace=True)

drop_cols3=['Year_Date','Month_Date','Date__Date']
df=df.drop(drop_cols3,axis=1)

In [28]:
#pd.options.display.max_rows=None

In [103]:
df[['Hour','Minute']] = pd.DataFrame(df.Time.str.split('h',1).tolist(),columns =['hour','minute'])
df['Hour'] = df['Hour'].str.capitalize()
df['Hour'] = df['Hour'].apply(lambda x: beg_white(x)) 
df['Hour2'] = df['Hour'].str.capitalize()

In [104]:

df['Hour2'] = df['Hour2'].str.replace('00','Night')
df['Hour2'] = df['Hour2'].str.replace('01','Night')
df['Hour2'] = df['Hour2'].str.replace('02','Night')
df['Hour2'] = df['Hour2'].str.replace('03','Night')
df['Hour2'] = df['Hour2'].str.replace('04','Night')
df['Hour2'] = df['Hour2'].str.replace('05','Morning')
df['Hour2'] = df['Hour2'].str.replace('06','Morning')
df['Hour2'] = df['Hour2'].str.replace('07','Morning')
df['Hour2'] = df['Hour2'].str.replace('08','Morning')
df['Hour2'] = df['Hour2'].str.replace('09','Morning')
df['Hour2'] = df['Hour2'].str.replace('10','Morning')
df['Hour2'] = df['Hour2'].str.replace('11','Noon')
df['Hour2'] = df['Hour2'].str.replace('12','Noon')
df['Hour2'] = df['Hour2'].str.replace('13','Noon')
df['Hour2'] = df['Hour2'].str.replace('14','Noon')
df['Hour2'] = df['Hour2'].str.replace('15','Afternoon')
df['Hour2'] = df['Hour2'].str.replace('16','Afternoon')
df['Hour2'] = df['Hour2'].str.replace('17','Afternoon')
df['Hour2'] = df['Hour2'].str.replace('18','Afternoon')
df['Hour2'] = df['Hour2'].str.replace('19','Evening')
df['Hour2'] = df['Hour2'].str.replace('20','Evening')
df['Hour2'] = df['Hour2'].str.replace('21','Evening')
df['Hour2'] = df['Hour2'].str.replace('22','Evening')
df['Hour2'] = df['Hour2'].str.replace('23','Evening')

In [ ]:
#df.loc[(value(df['cylinders'])==0) & (df['displ']!=0),'cylinders']=4

In [84]:
df.head(10)

,Case_Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Month,Hour,Minute,Time_day
0,2016 09 18 c,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Male,,16,Minor injury,N,13h00,Unknown,Orlando sentinel 9 19 2016,09,13,00,Noon
1,2016 09 18 b,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Chucky luciano,,36,Lacerations to hands,N,11h00,Unknown,Orlando sentinel 9 19 2016,09,11,00,Noon
2,2016 09 18 a,18 sep 16,2016,Unprovoked,Usa,Florida,New smyrna beach volusia county,Surfing,Male,,43,Lacerations to lower leg,N,10h43,Unknown,Orlando sentinel 9 19 2016,09,10,43,Morning
3,2016 09 17,17 sep 16,2016,Unprovoked,Australia,Victoria,Thirteenth beach,Surfing,Rory angiolella,,Unknown,Struck by fin on chest leg,N,Unknown,Unknown,The age 9 18 2016,09,Unknown,None,NaN
4,2016 09 15,16 sep 16,2016,Unprovoked,Australia,Victoria,Bells beach,Surfing,Male,,Unknown,No injury,N,Unknown,2 m shark,The age 9 16 2016,09,Unknown,None,NaN
5,2016 09 15 r,15 sep 16,2016,Boat,Australia,Western australia,Bunbury,Fishing,Occupant ben stratton,,Unknown,Shark rammed boat no injury to occupant,N,Unknown,Unknown,West australian 9 15 2016,09,Unknown,None,NaN
6,2016 09 11,11 sep 16,2016,Unprovoked,Usa,Florida,Ponte vedra st johns county,Wading,Male,,60s,Minor injury,N,15h15,3 to 4 shark,News4jax 9 11 2016,09,15,15,Afternoon
7,2016 09 07,07 sep 16,2016,Unprovoked,Usa,Hawaii,Makaha oahu,Swimming,Female,,51,Severe lacerations to shoulder forearm,N,14h30,Tiger shark,Hawaii news now 9 7 2016,09,14,30,Noon
8,2016 09 06,06 sep 16,2016,Unprovoked,New caledonia,North province,Koumac,Kite surfing,David jewell,,50,Fatal,Y,15h40,Unknown,Tvanouvelles 9 6 2016,09,15,40,Afternoon
9,2016 09 05 b,05 sep 16,2016,Unprovoked,Usa,South carolina,Kingston plantation myrtle beach horry county,Boogie boarding,Rylie williams,,12,Lacerations punctures to lower right leg,N,afternoon,Unknown,C creswell gsaf,09,afternoon,None,NaN

In [ ]:
#pd.options.display.max_rows=None
#df
pd.value_counts(df['Month'])

In [ ]:

#df[column].str.len()>2

In [85]:
columns=['Month']

for column in columns:
    df.loc[(df[column].str.len()>2)|(df[column]=='00') ,column]='Unknown'
    df[column] = df[column].str.replace("01","January")
    df[column] = df[column].str.replace("02","February")
    df[column] = df[column].str.replace("03","March")
    df[column] = df[column].str.replace("04","April")
    df[column] = df[column].str.replace("05","May")
    df[column] = df[column].str.replace("06","June")
    df[column] = df[column].str.replace("07","July")
    df[column] = df[column].str.replace("08","August")
    df[column] = df[column].str.replace("09","Septembrer")
    df[column] = df[column].str.replace("10","October")
    df[column] = df[column].str.replace("11","November")
    df[column] = df[column].str.replace("12","December")

In [86]:
pd.value_counts(df['Month'])

July          634
August        580
Septembrer    524
Unknown       522
January       500
June          474
December      423
April         410
October       407
March         398
November      393
May           368
February      359
Name: Month, dtype: int64

In [ ]:
pd.value_counts(df['Year'])

In [105]:
pd.value_counts(df['Hour2'])

Unknown                                              3213
Noon                                                 1041
Afternoon                                             798
Morning                                               609
Evening                                               129
Nig                                                    66
Night                                                  27
Dusk                                                   18
P m                                                    12
A m                                                    12
                                                       10
Day                                                     9
Sunset                                                  4
S                                                       4
AfternoonNight                                          3
Dark                                                    2
Dawn                                                    2
Just before noon                                        2
Am                                                      2
Daybreak                                                2
2                                                       2
Lunc                                                    2
Afternon                                                2
MorningjNight                                           1
830                                                     1
30 minutes after Evening92 Morning Morning a            1
Sometime between Morning                                1
Dark                                                    1
X                                                       1
NoonNight                                               1
Prior to Morning                                        1
Evening                                                 1
Just after Noon                                         1
Just before sundown                                     1
Just before dawn                                        1
Fatal  wire netting installed at local beac             1
Midnig                                                  1
Just before Noon                                        1
5Night                                                  1
Daytime                                                 1
Possibly same incident as 2Night0 Morning Evening       1
Day                                                     1
8 Night pm                                              1
Afternoonj45                                            1
Name: Hour2, dtype: int64

In [110]:
countries = df.groupby('Country', as_index=False)['Case_Number'].count()
countries.sort_values(by=['Case_Number'], ascending=False).head(10)

              Country  Case_Number
184               Usa         2116
10          Australia         1279
153      South africa          565
131  Papua new guinea          133
113       New zealand          125
20             Brazil          102
12            Bahamas           98
100            Mexico           82
78              Italy           72
53               Fiji           65

In [111]:
Activity = df.groupby('Activity', as_index=False)['Case_Number'].count()
Activity.sort_values(by=['Case_Number'], ascending=False).head(10)

         Activity  Case_Number
713      Swimming         1019
706       Surfing          944
294       Fishing          594
783       Unknown          532
676  Spearfishing          394
237        Diving          216
102       Bathing          174
791        Wading          161
690      Standing          128
609  Scuba diving          113